black
editdistance
einops
gpustat
ipython
jupyter
jupyterlab-git
more-itertools
nbstripout
num2words
numpy
nvitop
pandas
pylint
pytest
pytest-cov
pytest-html
rich
ruff
sphinx
sphinx-rtd-theme
tqdm

--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
